// primary globals 
$white: #ffffff;
$black: #000000;
$dkGray: #303030;
$ltGray: #cecece;


// primary project 
$very_dark_blue:hsl(233, 47%, 7%);
$dark_desaturated_blue: hsl(244, 38%, 16%);
$soft_violet: hsl(277, 64%, 61%); 
$soft_violet_filter: hsla(277, 67%, 43%,0.5); 

// secondary project 
$transparent_white_75:hsla(0, 0%, 100%, 0.75);
$transparent_white_6:hsla(0, 0%, 100%, 0.6);